<section class="content login-content" style="margin: 10% auto">
  <div style="text-align: center;">
    <form [formGroup]="loginForm">
      <img src="assets/logo.png" width="300px" height="300px">
      <table width="400" align="center">
        <tr>
          <td>
            <p-panel header="SEJA BEM-VINDO AO PROCESSADV.">
              <form [formGroup]="loginForm">
                <div class="ui-fluid">
                  <div class="p-grid">
                      <div class="p-col-12">
                          <span style='color: blue;'>Login:</span>
                          <input type="text" pInputText formControlName="login" maxlength="100" placeholder="Login">
                      </div>
                      <div class="p-col-12">
                          <span style='color: blue;'>Senha:</span>
                          <input type="password" pInputText formControlName="senha" maxlength="20" placeholder="Senha">
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-offset-8 col-xs-4">
                    <button pButton type="button" label="Entrar" [disabled]="loginForm.invalid" (click)="login()" class="ui-button-success"></button>
                  </div>
                </div>
              </form>
            </p-panel>
          </td>
        </tr>
      </table>
    </form>
  </div>
</section>